<div dir="ltr">
    <div>Hi,</div>
    <div><br></div>
    <div>First of all, congratulations on the nice work with your social media accounts! I'm Jessica and I work for
        Fango, where top brands sponsor great social media creators like you.
    </div>
    <div><br></div>
    <div>I wanted to reach out because we love your work on social media and believe that Fango is a perfect place for
        you.
    </div>
    <div><br></div>
    <div>This is how it works:</div>
    <div>1- Sign up on our platform, it's free</div>
    <div>2- Apply to campaigns and share with your followers</div>
    <div>3- We pay you via Paypal for each campaign you share</div>
    <div><br></div>
    <div>
        <a href="https://fango.me/?utm_source=iginvite&utm_medium=email&utm_content=feel_free_sign_up&utm_campaign={{ version }}&uid={{ uid }}">Feel
            free to signup by clicking here.</a></div>
    <div><br></div>
    <div>If you have any questions, I'll be happy to answer them. You can just reply to this email.</div>
    <div><br></div>
    <div>Best,</div>
    <div>Jessica</div>
    <div><br></div>
    <div>
        <div>Fango</div>
        <div>934 Howard St</div>
        <div>San Francisco, 94103, CA</div>
    </div>
    <div><br></div>
    <div>PS: If you don't like emails like this, you can <a href="https://fango.me/unsubscribe/{{ uid }}">unsubscribe</a>. We'll
        be sad to see you go.
    </div>
    <img src="http://fango.me/email.gif?uid={{ uid }}" alt=""/>
</div>