<div dir="ltr">
    <div>Hi,</div>
    <div><br></div>
    <div>I'm Gokhan, the founder of Fango, which helps social media creators get sponsored easily. We partnered with top
        brands to sponsor great creators like you.
    </div>
    <div><br></div>
    <div>We have over 150,000 creators on our platform and I wanted to invite you too. Please sign up and join
        campaigns.
    </div>
    <div><br></div>
    <div>
        <a href="http://fango.me/?utm_source=iginvite&utm_medium=email&utm_content=click_sign_up_free&utm_campaign=igifgspf">Click
            here to sign up for free.</a></div>
    <div><br></div>
    <div>If you have any questions, feel free to reply to this email.</div>
    <div><br></div>
    <div>Best,</div>
    <div>Gokhan</div>
</div>