# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    server_password:   'something'

    facebook_app_id: opkokoko
    facebook_app_secret: sldkmalsdmlak


    twitter_client: 4VoucgB8MqPBWOUvqAbMVEGyZ
    twitter_secret: W6DTudd36Nki2xyMvosd1fVCtZArmKDa6HKMBq7KeUSOClkBvz

    instagram_client_id: 1132d5ef93824107a5c19b1b78a80ddd
    instagram_client_secret: 3989fc5e4c1c414c832107f7123e33ea
