{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
</div>
{% endblock fos_user_content %}
