{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}

                <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Register" />
            </form>
        </div>
    </div>

{% endblock fos_user_content %}
