{% extends '@FangoMain/Dashboard/layout.html.twig' %}

{% block main %}
    <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}