{% extends 'FangoMainBundle:Dashboard:layout.html.twig' %}

{% block main %}
    <h1>Earnings</h1>
    <div class="row">
        <div class="col-lg-4 text-center">
            <h2>${{ app.user.earnings|number_format(2) }}</h2>
            <span>Estimated Earnings <i class="fa fa-question-circle" style="color: #999" data-toggle="tooltip" data-placement="top" title="At the end of each month, your earnings are adjusted. Funds that don't feed campaign criteria are removed automatically."></i></span>
        </div>
        <div class="col-lg-4 text-center">
            <h2>${{ app.user.paid|number_format(2) }}</h2>
            <span>Paid</span>
        </div>
        <div class="col-lg-4 text-center">
            <h2>${{ (app.user.paid + app.user.earnings)|number_format(2) }}</h2>
            <span>Total Earnings</span>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="alert alert-info" role="alert">To enter pay out information <a href="{{ url('fango_dashboard_payment') }}">click here</a>.</div>
    </div>

    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
