{% extends 'FangoMainBundle:Dashboard:layout.html.twig' %}

{% block main %}
    <h1>Earnings</h1>
    <div class="row">
        <div class="col-lg-4 text-center">
            <h2>${{ app.user.earnings|number_format(2) }}</h2>
            <span>Earnings</span>
        </div>
        <div class="col-lg-4 text-center">
            <h2>${{ app.user.paid|number_format(2) }}</h2>
            <span>Paid</span>
        </div>
        <div class="col-lg-4 text-center">
            <h2>${{ (app.user.paid + app.user.earnings)|number_format(2) }}</h2>
            <span>Total Earnings</span>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="alert alert-info" role="alert">Earn more than $20 to enter pay out information.</div>
    </div>
{% endblock %}
