{% extends 'FangoMainBundle:Dashboard:layout.html.twig' %}

{% block main %}
    <h1>Payment</h1>
    {% for errors in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">
            <span class="sr-only">Error:</span>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="row">
        <form action="{{ url('fango_dashboard_payment') }}" method="post">
            <div class="form-group">
                <div class="col-md-4">
                    <input type="text" name="paypal" placeholder="Enter your Paypal email address" value="{{ app.user.paypalEmail }}" class="form-control" />
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="alert alert-info" role="alert">
            <p>Earnings are paid 15th day of next month when they reach $20 threshold.</p>
            <p>For example, earnings between 1st of June and 30th of June are paid on 15th of August.</p>
            <p>If the earnings are below $20 for the given month, they will be added to next month's earnings. For example, a user earns $15 between 1st of June and 30th of June. He won't get paid on 15th of August since it's below $20 threshold. She earns $10 between 1st of July and 31st of July. She'll be paid $25 on 15th of September.</p>
        </div>
    </div>
{% endblock %}
