<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
</head>
<body>

<div class="container">
    <div class="omb_login">

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

</div>
</body>
</html>
