{% extends '@FangoMain/layout.html.twig' %}

{% block main %}
    <h1 style="font-size: 60px;">FANGO</h1>
    <p>Influencer Marketing Platform.</p>
    <p style="margin-top: 30px"><a href="mailto:hello@fango.me" style="color: #fff">hello@fango.me</a></p>
    <div>
        <a href="{{ url('fos_user_registration_register') }}">Sign Up</a> |
        <a href="{{ url('fos_user_security_login') }}">Login</a>
    </div>
    <p style="font-size: 12px; margin-top: 100px">934 Howard St, San Francisco, CA, 94103, United States</p>
{% endblock %}