<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="title" content="Fango. Influencer Marketing Platform." />
    <meta name="description" content="Influencer Marketing Platform by Fango." />
    <meta name="keywords" content="fango" />
    <title>Fango. Influencer Marketing Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('css/homepage/style.css') }}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
</head>

<body>

{% include '@FangoMain/Components/_ga.html.twig' %}

    <div id="bg-video-wrapper">
        <iframe id="bg-video" frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/DESaYHsr8Sw?autoplay=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;loop=1&amp;playlist=DESaYHsr8Sw&amp;wmode=transparent&amp;rel=0">
        </iframe>
    </div>
    <div id="bg-image"></div>
    <div id="bg-video-overlay"></div>

    <div class="container">
        <div class="row" id="first-row">
            {% block main %}{% endblock %}
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->

    <div class="clear"></div>

</body></html>